<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: page('Lista użytkowników', 'kartoteka osób', ~{::section})}">
<body>
<section class="card">
    <p><a class="btn" th:href="@{/users/new}">Dodaj użytkownika</a></p>

    <div class="table-wrap">
        <table class="table">
            <caption>Konta użytkowników systemu</caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Login</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Rola</th>
                <th scope="col">Data utworzenia</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td><span class="badge-status" th:text="${user.role}"></span></td>
                <td th:text="${user.createdAt}"></td>
                <td>
                    <ul class="action-list">
                        <li><a th:href="@{/users/{id}/edit(id=${user.id})}">Edytuj</a></li>
                        <li>
                            <a class="btn btn-danger"
                               th:href="@{/users/{id}/delete(id=${user.id})}"
                               onclick="return confirm('Na pewno usunąć użytkownika?')">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
